@use './variables.scss';

.balance-container {
    display: flex;
    gap: 9px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #E7E7E7;
    height: 30px;
    font-size: 14px;
    font-weight: 700;
    flex-shrink: 0;

    .wallet-icon {
        margin-left: 10px;
    }

    .arrow {
        transform: rotate(90deg);
        margin-right: 10px;
    }

    .icon {
        margin-right: 0;
    }
}

@media (max-width: variables.$breakpoint-md) {
    .balance-container {
        justify-content: space-between;
    }
}