@use './variables.scss';
.search-and-button {
    display: flex;
    align-items: center;

    .search {
        height: 40px;
        margin-left: 0.8px;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
    }
}