$primary-color: #DB3B2B;
$box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
$border-radius: 12px;
$font-color: #4d4d4d;
$light-font-color: #9b9b9b;
$light-background-color: rgb(252, 250, 250);
$breakpoint-md: 750px;
$primary-gradient: linear-gradient(136deg, rgb(138, 35, 135) 0%, rgb(233, 64, 87) 50%, rgb(242, 113, 33) 100%);
$height-bottom-navigation: 127px;
$height-bottom-navigation-without-search: 56px;
$height-navbar: 60px;
$width-side-bar: 250px;
$width-side-bar-mobile: 274px;
$reduce-sidebar-width: 70px;
$primary-border: 1px #F2F2F2 solid;
$secondary-border: 1px solid #ebebeb;
$height-info: 70px;

:export {
    primary-color: $primary-color;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    font-color: $font-color;
    breakpoint-md: $breakpoint-md;
    primary-gradient: $primary-gradient;
    height-bottom-navigation: $height-bottom-navigation;
    height-navbar: $height-navbar;
    light-font-color: $light-font-color;
    light-background-color: $light-background-color;
    width-sie-bar: $width-side-bar;
    reduce-sidebar-width: $reduce-sidebar-width;
    primary-border: $primary-border;
    secondary-border: $secondary-border;
    height-bottom-navigation-without-search: $height-bottom-navigation-without-search;
    height-info: $height-info;
    width-side-bar-mobile: $width-side-bar-mobile;
}